---
layout:     default
title:      Blog
permalink:  /blog/
menu:       main
image:      /media/thumb-big.jpg
excerpt:    The blog.
---

<div class="home">

  <h1 class="post-title">Blog</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.category == "blog" %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a class="internal" href="{{ "/blog/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
