.var {
    display: table-cell;
    width: 7em;
    font-weight: bold;
}

.value {
    display: table-cell;
}

.search-result {
    color: darkslategray;
    font-size: 1.3em;
}

.search-result:visited {
    color: gray;
}

#results {
    list-style: none;
    margin-left: 0;
}

#search, #search_button {
    font-size: 2em;
    vertical-align: bottom;
}

#search {
    width: 7em;
}

.lds-circle {
    display: block;
    transform: translateZ(1px);
    margin: 0 auto;
}

.lds-circle > div {
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: lightgray;
    animation: lds-circle 4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }

    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }

    100% {
        transform: rotateY(3600deg);
    }
}

.keyword {
    display: inline-block;
    margin: 0.25em 0.5em 0.25em 0;
    padding: 0.25em;
    border: 1px dotted gray;
}

.keyword:hover {
    background: lightgray;
}
