.footer-col-2 {
  text-align: right;
}

.aside {
    float: right;
    width: 15em;
    font-style: italic;
    border: 1px dotted;
    background: 1px dotted;
    padding: 1em;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#content-license {
    font-size: 8pt;
    text-align: center;
}
