@include media-query($on-palm) {
  #account_name_query {
    width: 5em;
  }

  #example_list {
    li {
      display: list-item !important;
    }
  }

  #board {
    width: 18em;
  }

  .footer-col-2 {
    text-align: center;
  }

  .aside {
    float: none;
    margin: 0px auto;
    width: 90%;
    margin-bottom: 2em;
  }
}
