---
layout:     page
image:      /media/thumb-big.jpg
---

<article class="post">

    <div style="margin-bottom: 1em;">
        <div>
            <span class="var">author</span>
            <span class="value">{{ page.author }}</span>
        </div>

        <div>
            <span class="var">year</span>
            <span class="value">{{ page.year }}</span>
        </div>

        <div>
            <span class="var">more</span>
            <span class="value"><a href="{{ page.more }}">{{ page.more }}</a></span>
        </div>

    </div>

    <div class="post-content">

        <div class="home">

            <div>
                <img src="{{ page.image }}" width="30%" style="margin-bottom: 1em; margin-left: 1em; float: right;">
            </div>
        
            <div style="margin-bottom: 1em;">
                {{ page.abstract }}
            </div>
                
        </div>

    </div>
 
</article>

<p><a href="./">Back to list</a></p>
