---
layout:     null
---
{% assign id = page.ID -%}{% assign this = site.data.articles[id] -%}@article{{ this.ID|prepend:'{' }},
    author = {{ this.author|prepend:'{' }}},
    title = {{ this.title|prepend:'{' }}},
    journal = {{ this.journal|prepend:'{' }}},
    issn = {{ this.issn|prepend:'{' }}},
    year = {{ this.year|prepend:'{' }}},
    volume = {{ this.volume|prepend:'{' }}},
    number = {{ this.number|prepend:'{' }}},
    pages = {{ this.pages|prepend:'{' }}},
    doi = {{ this.doi|prepend:'{' }}}
    citedbycount = {{ this.citedbycount|prepend:'{' }}},
    abstract = {{ this.abstract|prepend:'{' }}},
    keywords = {{ this.keywords|prepend:'{' }}}
}
