---
layout:     page
image:      /media/thumb-big.jpg
---

{% assign id = page.ID %}
{% assign this = site.data.items[id] %}

<article class="post">

    {% comment %}
    <header class="post-header">
      <h1 class="post-title">📄 {{ site.data.items[id].title }}</h1>
    </header>
    {% endcomment %}
  
    <div style="margin-bottom: 1em;">
        <div>
            <span class="var">author</span>
            <span class="value">{{ this.author }}</span>
        </div>

        <div>
            <span class="var">year</span>
            <span class="value">{{ this.year }}</span>
        </div>

        <div>
            <span class="var">more</span>
            <span class="value"><a href="{{ this.url }}">{{ this.url }}</a></span>
        </div>

    </div>

    <div class="post-content">

        <div class="home">

            <div>
                <img src="{{ this.image }}" width="30%" style="margin-bottom: 1em; margin-left: 1em; float: right;">
            </div>
        
            <div style="margin-bottom: 1em;">
                {{ this.abstract }}
            </div>
                
        </div>

    </div>
 
</article>
